* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'Times New Roman', Times, serif;
}

.Port-Header {
    height: 100vh;
    background-image: url("resources/coolSpace3.gif");
    background-repeat: no-repeat;
    background-size: cover;
}

.head-text {
    color: white;
    text-align: center;
    position: relative;
    top: 40vh;
    margin-bottom: 20px;
}

.first {
    font-size: 200%;
}

.second {
    font-size: 150%;
}

.link-bars {
    display: flex;
    justify-content: center;
    background-color: black;
    height: 10vh;
}

.link-bar {
    padding-top: 3vh;
    color: white;
    margin-right: 3vh;
    margin-left: 3vh;
    font-size: 120%;
    text-decoration: none;
}

.link-bar:hover {
    color: cyan;
    transition: 0.6s;
    text-decoration: underline;
}

.About {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    height: 90vh;
    background-color: gray;
}

.avatar {
    margin-top: 5vh;
    position: relative;
    left: 44%;
    vertical-align: middle;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.ab-title {
    color: cyan;
    font-size: 160%;
    text-align: center;
    width: 20%;
    border-bottom: 2px solid cyan;
    padding: 3vh;
    margin: 0 auto;
}

.ab-title:hover {
    color: white;
    transition: 0.3s;
}

.ab-desc {
    color: white;
    font-size: 130%;
    text-align: center;
    width: 40%;
    margin: 0 auto;
    margin-top: 10vh;
}

.Projects {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    height: 90vh;
    background-color: gray;   
}

.proj-title {
    margin-top: 5vh;
    color: cyan;
    font-size: 160%;
    text-align: center;
    width: 20%;
    border-bottom: 2px solid cyan;
    padding: 3vh;
    margin: 0 auto;
}

.proj-title:hover {
    color: white;
    transition: 0.3s;
}

.projects {
    display: flex;
    justify-content: center;
}

.project {
    margin: 10px;
    width: 31%;
    height: 70vh;
    border: 2px solid cyan;
}

.project-img {
    height: 30vh;
    width: 80%;
    position: relative;
    left: 10%;
    margin-top: 3vh;
    border: 2px solid cyan;
}

.project-name {
    text-align: center;
    border-top: 2px solid cyan;
    border-bottom: 2px solid cyan;
    margin-top: 3vh;
}

.project-link {
    color: cyan;
    text-decoration: none;
    transition: 0.25s;
}

.project-link:visited {
    color: cyan;
    text-decoration: none;
    transition: 0.25s;
}

.project-link:hover {
    color: white;
    transition: 0.25s;
}

.project-desc {
    color: cyan;
    text-align: center;
    margin-top: 6vh;
}

